name: â˜ Headless Builds
on: [push]

env:
  VERSION: 3.6-stable


jobs:
  mac-editor:
    runs-on: "macos-13" # non-ARM version
    name: macOS Headless (target=release_debug, tools=yes)
    
    steps:
      
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get latest stable Godot source code
        run: wget https://github.com/godotengine/godot/releases/download/${{ env.VERSION }}/godot-${{ env.VERSION }}.tar.xz

      - name: Extract Godot source code
        run: tar xvf godot-${{ env.VERSION }}.tar.xz --strip-components=1
        
      - name: Install scons, yasm, pkg-config # and mono
        run: brew install scons yasm pkg-config # mono

      - name: Check if scons is installed correctly
        run: scons --version

      - name: Check if mono is installed correctly
        run: |
          mono --version
          # cd /Library/Frameworks/Mono.framework/Versions/Current/lib
          # # HACK: see https://github.com/godotengine/godot/blob/3.6/modules/mono/build_scripts/mono_configure.py#L208
          # cp -f libmonosgen-2.0.1.dylib libmonosgen-2.0.so
          # # cp -f libmono-2.0.dll.a mono-2.0-sgen.a;cp -f libmonosgen-2.0.dll.a monosgen-2.0.a
          # # cp -f libmono-2.0.dll.a ../bin/mono-2.0-sgen.dll;cp -f libmonosgen-2.0.dll.a ../bin/monosgen-2.0.dll

      # - name: Check if pkg-config is reachable, and adding homebrew to path
      #   run: |
      #     which pkg-config
      #     echo "export PATH=/opt/homebrew/bin:$PATH" >> ~/.bash_profile && source ~/.bash_profile
      #     /bin/sh pkg-config

      - name: patch source
        run: |
          sed -i '' 's/is_apple = env\["platform"\] in \["osx", "iphone"\]/is_apple = env\["platform"\] in \["osx", "iphone", "server"\]/g' /Users/runner/work/godot-headless-mac/godot-headless-mac/modules/mono/build_scripts/mono_configure.py
          cat /Users/runner/work/godot-headless-mac/godot-headless-mac/modules/mono/build_scripts/mono_configure.py
          
      - name: build glue version
        run: |
          scons platform=server arch=x86_64 tools=yes module_mono_enabled=yes mono_glue=no mono_prefix=/Library/Frameworks/Mono.framework/Versions/Current -j 8

      - name: generate glue
        run: |
          ./bin/godot.osx.tools.x86_64.mono --generate-mono-glue modules/mono/glue

      - name: Compile
        run: |
          scons platform=server arch=x86_64 tools=yes module_mono_enabled=yes mono_glue=yes mono_prefix=/Library/Frameworks/Mono.framework/Versions/Current use_static_cpp=no -j 8
          mv ./bin/godot_server.osx.tools.x86_64.mono ./bin/godot
          ls ./bin

          zip ./bin/godot.zip ./bin/godot ./bin/monosgen-2.0 ./bin/GodotSharp
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/godot.zip
          asset_name: Godot_v${{ env.VERSION }}_mac_headless.x86_64.zip
          tag: ${{ env.VERSION }}
          overwrite: true
          body: "Headless build of Godot ${{ env.VERSION }} for macOS.
See details about the release [here](https://github.com/godotengine/godot/releases/tag/${{ env.VERSION }})."
